.footer {
    background-color: #4c86a8;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .copyright {
    margin: 0;
  }
  
  .date {
    margin: 0;
  }
  